# Data Science Tools and Ecosystems

In this notebook, Data Science Tools and Ecosystem are summarized

__Objectives:__
- List popular languages used for Data Science
- List commonly used libraries used for Data Science
- List commonly used open source tools used for Data Science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Scikit-learn
2. Keras
3. Pandas

| Data Science Tools |
| --- |
| Hadoop |
| Apache Spark |
| TensorFLow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to multiply then add intergers.
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
Pierce Cappelli